// Import the initial variables
@import '../../node_modules/bulma/sass/utilities/initial-variables';

// Modifications

$family-sans-serif: 'Roboto', sans-serif;

$family-primary: $family-sans-serif;

$background-color: #080325;

$primary: #006488;

$viowhite: #ebebeb;

$navbar-tab-active-border-bottom-color: $background-color;
$navbar-tab-hover-border-bottom-color: $background-color;

$link: $primary;

// Import the rest of Bulma
@import '../../node_modules/bulma/bulma.sass';

$link-invert: $primary-invert;

@include desktop {
  .navbar.is-primary {
    .navbar-item,
    .navbar-link {
      &.is-tab {
        // Hacky way to only affect parent nav elements as we give is-tab to every parent for styling purposes
        color: $viowhite;
      }
    }
  }
}
