body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased !important;
}

.scrollX {
  overflow-x: auto;
}

.margin-top {
  margin-top: 1em;
}

.margin-bot {
  margin-bottom: 1em;
}

img.profile {
  border-radius: 10%;
}

.hero.crt {
  background-image: linear-gradient(
    141deg,
    #004d55 0%,
    #006488 71%,
    #005ca2 100%
  ) !important;
}
